.owner {
	font-size: 12px;
	position: fixed;
	bottom: 0;
	padding: 0.45rem 2rem 0.25rem;
	margin-bottom: 0;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.3);
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	backdrop-filter: blur(5px);
	box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
	border: 2px solid transparent;
	background-clip: padding-box;
	letter-spacing: 3px;
}

.owner a {
	color: #000;
	text-decoration: none;
}

.owner a:hover,
.owner a:focus {
	color: aqua;
}

.App {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 76vh;
	min-width: 78vw;
	margin: 50px auto;
	background-color: transparent;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	text-shadow: #000 0px 0px 0.5px;
	/* text-shadow: 0 0 15px rgba(255, 255, 255, 1); */
}

.glass.container {
	background-color: rgba(255, 255, 255, 0.3);
	/* background-color: rgba(0, 0, 0, 0.2); */
	border-radius: 20px;
	min-height: 76vh;
	min-width: 78vw;
	backdrop-filter: blur(5px);
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
	border: 2px solid transparent;
	background-clip: padding-box;
	/* opacity: 0; */
	/* pointer-events: none; */
	transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
}

/* .App:hover .glass.container {
	opacity: 1;
	pointer-events: all;
} */

.left-container {
	width: 55%;
}

.right-container {
	width: 42%;
}

.search-bar.border {
	flex: 0 1 5%;
	border-width: 2px !important;
}

.search-bar input.form-control {
	color: #0a0a0a !important;
	font-weight: 500 !important;
}

.search-bar input.form-control,
.search-bar input.form-control:focus {
	border: none !important;
	outline: none !important;
	box-shadow: none;
}

.search-bar button.btn.btn-transparent {
	font-weight: bold;
	background-color: #91C0F8 !important;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px 6px !important;
	border: none !important;
	transition: all 0.15s ease-in-out;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-ms-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
}

.search-bar button.btn.btn-transparent:focus {
	outline: none !important;
	border: none !important;
	box-shadow: none;
}

.search-bar button.btn.btn-transparent:hover {
	transform: scale(2);
	-webkit-transform: scale(2);
	-moz-transform: scale(2);
	-ms-transform: scale(2);
	-o-transform: scale(2);
}

.search-btn > span {
	display: none;
}

.weather-data-wrapper {
	flex: 1 1 95%;
}

.weather-details {
	flex: 0 1 42%;
}

.weekly-wrapper {
	flex: 0 1 95%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.date-time {
	font-weight: 500;
}
.temperature {
	font-size: 5rem;
	line-height: 1.2;
	font-weight: 500 !important;
}

.icon-wrapper {
	text-align: center;
}

.day-wrapper {
	margin-bottom: 20px !important;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.day-wrapper svg {
	width: 50px;
	height: 45px;
}
.day-wrapper:last-child {
	margin-bottom: 0px !important;
}

.wd-item {
	/* width: 33% !important; */
	min-width: 30%;
	width: max-content;
}

::placeholder {
	color: #0a0a0a !important;
	opacity: 1;
}
:-ms-input-placeholder {
	color: #0a0a0a !important;
}
::-ms-input-placeholder {
	color: #0a0a0a !important;
}

.container a,
.container p,
.container h6, 
.container h5, 
.container h4 {
	font-size: 1rem !important;
}

div.dataProvidedBy img {
	width: 30px;
	margin-left: 5px;
}

@media only screen and (max-width: 1080px) {
	.glass.container > div.container {
		flex-direction: column;
		opacity: 1 !important;
		pointer-events: all !important;
	}
	.glass.container > div.container > div {
		width: 100%;
	}
	.glass.container .dataProvidedBy {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.right-container {
		margin-top: 40px;
	}
	button.search-btn.rounded-circle {
		font-weight: 500 !important;
		padding: 10px 25px !important;
		border-radius: 30px !important;
		-webkit-border-radius: 30px !important;
		-moz-border-radius: 30px !important;
		-ms-border-radius: 30px !important;
		-o-border-radius: 30px !important;
}
	.search-btn > span {
		display: block;
		margin-left: 10px;
	}
	.search-bar button.btn.btn-transparent:hover {
		transform: scale(1);
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
	}
	a, p, h6, h5, h4 {
		font-size: 14px !important;
	}
}

@media only screen and (max-width: 767px) {
	.App {
		position: relative;
		margin: 25px auto 50px;
	}
	.container.glass.d-flex {
		border-bottom: none;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
	.glass.container .dataProvidedBy > p,
	.glass.container .dataProvidedBy > p > a {
		font-size: 12px !important;
	}
	.glass.container .dataProvidedBy > p > a > img {
		width: 20px;
	}
	.owner {
		position: absolute;
		top: 100%;
		height: max-content;
		width: 100%;
		margin: 0;
		color: #000;
		background-color: rgba(255, 255, 255, 0.3);
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
		backdrop-filter: blur(5px);
		box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
		border: 2px solid transparent;
		background-clip: padding-box;
		letter-spacing: 3px;
	}
	.search-btn > span {
		display: none;
	}
	.weather-details > div {
		min-width: 45%;
	}
	.temps.d-flex {
		margin-top: 0px;
		align-items: center;
	}
	.Current-temp > h1 {
		font-size: 3rem;
	}
	.up-down-temp.d-flex {
		height: 100% !important;
		margin-left: 15px !important;
	}
	a, p, h6, h5, h4 {
		font-size: 12px !important;
	}
}

@media only screen and (max-width: 590px) {
	.glass.container > div.container {
		padding: 0;
	}
	.App{
		max-width: 90%;
	}
	.container.glass.d-flex {
		min-width: 100% !important;
		max-width: 100% !important;
	}
	.weather-main {
		flex-direction: column;
	}
	.weather-main .weather-icon {
		width: 100% !important;
	}
	div.weather-data.d-flex {
		width: 100% !important;
		flex-direction: row !important;
		justify-content: space-between;
		flex-wrap: wrap;
		text-align: center;
	}
	.temps.d-flex {
		justify-content: center;
	}
	.weather-details.d-flex {
		padding: 0 !important;
	}
	div.weather-data.d-flex > div {
		flex: 1 0 240px;
	}
	.weather-details > div {
		justify-content: center;
	}
	.search-btn > span {
		display: none;
	}
	.weather-details > div {
		min-width: 45%;
		margin: 15px auto !important;
	}
	h6.fs-5, h5 {
		font-size: 12px !important;
	}
}